body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: transparent;
}

.fact-checker {
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    margin: 0 auto;
}

.fact-checker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 20px;
}

.fact-checker-close-btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #333;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    border: 2px solid #ffffff;
    transition: background-color 0.3s;
    margin-top: -10px;
    border: 2px solid #ffffff;
    transition: background-color 0.3s;
    margin-top: -3px;
}

.fact-checker-close-btn:hover {
    background-color: #c1bebe;
  }

.fact-checker-search-btn {
    padding: 10px 20px;
    background-color: #1C9BEF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -20px;
    margin-bottom: 30px;
}

.fact-checker-search-btn:hover {
    background-color: #1C9BEF;
}

.fact-checker-results {
    background-color: #222;
    padding: 15px;
    border-radius: 5px;
}

.fact-checker-result-content {
    background-color: #444;
    padding: 1px;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 100px;
    /* Adjust as needed */
    border-radius: 5px;
}
.fact-checker-source-content {
    background-color: #444;
    padding: 50px;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 100px;
    /* Adjust as needed */
    border-radius: 5px;
}

/* Scrollbar styles */
.fact-checker-result-content::-webkit-scrollbar,
.fact-checker-source-content::-webkit-scrollbar {
    width: 5px;
}

.fact-checker-result-content::-webkit-scrollbar-thumb,
.fact-checker-source-content::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

.fact-checker-result-content::-webkit-scrollbar-thumb:hover,
.fact-checker-source-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}