body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    /* Or any other color for the body */
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-button img {
    width: 50px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
}

/* Add this new class for the container */
.search-container {
    background-color: #333;
    /* Dark gray background */
    padding: 20px;
    /* Adjust as needed */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional: adds a shadow for depth */
}