body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    /* Adjust if needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fact-checker-container {
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    padding: 15px;
    box-sizing: border-box;
}

.fact-checker-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -15px;
    margin-bottom: 15px;
}

.fact-checker-close-btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: #333;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    border: 2px solid #ffffff;
    transition: background-color 0.3s;
    margin-top: 25px;
}

.fact-checker-close-btn:hover {
    background-color: #c1bebe;
}

.fact-checker-search-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Space between the SVG icon and text */
    padding: 10px 20px;
    background-color: #1C9BEF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.fact-checker-search-btn:hover {
    background-color: #1C9BEF;
}

.search-icon {
    width: 1em;
    /* Size of the SVG icon */
    height: 1em;
    /* Size of the SVG icon */
}